@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-font-family: 'Inter', 'Sans serif';
    --primary-color: #0a3871;
    --secondary-color: #e5e5e5;
    --tertiaty-color: #343a40;
    --cuaternary-color: #fff;

    --color-error-light: #fa0909;
    --colot-error-dark: #ffc400;
    color-scheme: light dark;
}

/* reset style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style theme user*/
.app {
    background-color: light-dark(var(--cuaternary-color), var(--primary-color));
    font-family: var(--primary-font-family);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 2fr auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
    ;
    gap: 1rem;
    padding: 1rem;
    min-height: 100vh;
}

.app.light {
    color-scheme: light;
}

.app.dark {
    color-scheme: dark;
}

/* style header app*/

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__link {
    display: inline-block;
}

.header__svg {
    width: 5rem;
    fill: light-dark(var(--primary-color), var(--cuaternary-color));
}

.button {
    width: 100%;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid;
    border-color: light-dark(var(--primary-color), var(--secondary-color));
    border-radius: 1rem;
}

.switch {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.9em;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: light-dark(var(--primary-color), var(--cuaternary-color));
    transition: .2s;
    border-radius: 2rem;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 2rem;
    left: 0.2em;
    bottom: 0.2em;
    background-color: light-dark(var(--cuaternary-color), var(--primary-color));
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: light-dark(var(--cuaternary-color), var(--primary-color));
   }
   
   input:checked + .slider {
    background-color: light-dark(var(--primary-color), var(--cuaternary-color));
   }

   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }

/* style main app */

.main {
    width: 100%;
    max-width: 100%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.main__section-top {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.main__text-area {
    width: 100%;
    height: 20rem;
    max-height: 20rem;
    min-height: 10rem;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--primary-font-family);
    color: light-dark(var(--primary-color), var(--secondary-color));
    font-size: 1.2rem;
    font-weight: 500;
    word-break: break-all;

}

.main__text-area::-webkit-scrollbar {
    display: none;
}

.main__text-area::placeholder {
    color: light-dark(var(--primary-color),var(--secondary-color));
}

.main__text-area.active,
.main__text-area.active::placeholder{
    color: light-dark(var(--color-error-light), var(--colot-error-dark));
}

.main__section-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: light-dark(var(--primary-color),var(--secondary-color));
}

.info__icon {
    display: block;
    color: light-dark(var(--primary-color),var(--secondary-color));
    font-size: 1.1rem;
}

.info__icon.active {
    color: light-dark(var(--color-error-light), var(--colot-error-dark));
}

.info__text {
    font-size: .9rem;
}


.info__text.active {
    color: light-dark(var(--color-error-light), var(--colot-error-dark));
    font-weight: 600;
}

.main__container-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.button--primary {
    background-color: light-dark(var(--primary-color), var(--cuaternary-color));
    color: light-dark(var(--cuaternary-color), var(--primary-color));
}

.button--secondary {
    background-color: transparent;
    color: light-dark(var(--primary-color), var(--secondary-color));

}

.button--tertiary {
    background-color: light-dark(var(--secondary-color), var(--primary-color));
    color: light-dark( var(--primary-color), var(--secondary-color));
}

/* style aside app */

.aside {
    grid-area: aside;
    gap: 1rem;
    background-color: var(--cuaternary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid;
    border-color: light-dark(var(--primary-color), var(--cuaternary-color));
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    min-height: 100%;
}

.message.inactive {
    display: none;
}

.message__picture{
    display: none;
    max-width: 16rem;
}

.message__image {
    width: 100%;
}

.message__title {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.message__text {
    font-size: 1rem;
    color: var(--primary-color);
}

.aside__section-top.inactive{
    display: none;
}

.aside__section-bottom.inactive {
    display: none;
}

.button--tertiary {
    width: 100%;
}

.aside__text {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    max-height: 25rem;
    width: 100%;
    overflow-y: scroll;
    word-break: break-all;
}

.aside__text::-webkit-scrollbar {
    display: none;
}

/* style footer app */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: light-dark(var(--primary-color), var(--cuaternary-color));
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.3rem;
    list-style: none;
}

.social__link {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.2rem;
    min-height: 2.2rem;
    border-radius: 50%;
}

.social__link:hover {
    background-color: light-dark(var(--primary-color), var(--cuaternary-color));
    color: light-dark(var(--cuaternary-color), var(--primary-color))
}

.footer__text {
    font-weight: 400;
    color: inherit;
    font-size: .8rem;
}

.text--strong {
    font-weight: 600;
    font-size: .9rem;
}

.footer__link {
    font-weight: 500;
    color: inherit;
}



/*media querys*/
/*tablet*/
@media (min-width: 768px) {
    .main__container-buttons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    .message__picture {
        display: block;
    }
    .app {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 3fr auto;
        grid-template-areas:
            "header aside"
            "main aside"
            "footer aside"
        ;
    }
    .aside {
        padding: 2rem 2rem 4rem 2rem;
    }
}